.project {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 24px 8px;
}

div.name {
  display: inline-block;
  margin: 8px 16px;
  padding: 4px 8px;
}

div.content {
  display: inline-block;
  margin: 8px 16px;
  padding: 4px 8px;
}

a.name {
  position: relative;
  color: var(--uv);
  text-decoration: none;
  text-wrap: nowrap;
}

a.name:hover {
  color: var(--dark);
}

a.name::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--uv);
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

a.name:hover::before {
  transform: scaleX(1);
}

.header {
  margin-top: 10%;
  color: var(--dark);
  font-size: 18px;
}

.subheader {
  margin-bottom: 0;
  color: var(--uv);
  opacity: 0.7;
  font-size: 14px;
}

.techList {
  list-style: none;
  margin-left: 0;
  margin-top: 4px;
  padding-left: 1em;
}

.techList > li:before {
  display: inline-block;
  color: var(--uv);
  opacity: 0.7;
  content: ">";
  width: 1.25em;
  margin-left: -0.5em;
}
