:root {
  --uv: rgb(154, 99, 192);
  --uv-shadow: rgba(120, 47, 171, 0.2);
  --dark: rgb(42, 42, 54);
}

div.section {
  width: 60vw;
  margin: 0 auto;
}

h3.header {
  margin: 24px 0 0 24px;
  color: var(--dark);
  font-size: 28px;
}

p.about {
  margin-top: 14px;
  color: var(--dark);
  font-size: 18px;
}

hr {
  margin: 4% auto;
  width: 67vw;
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 20px;
}
